
/* Fonts */

/* Normal View */

/* Id's */

#output{
	
	position: absolute;
	
	width: 100vw;
	
	text-align: center;
	
	top: 50vh;
	
	margin-top: -50px;
	
	font-size: 50px;
	
}

/* Classes */

/* Tags */

/* Other */

/* Mobile View */

@media only screen and (max-width: 600px){
	
	/* Id's */
	
	/* Classes */
	
	/* Tags */
	
	/* Other */
	
}
