
/* Fonts */

@font-face{
	
	url: src("fonts/Roboto-Light.ttf");
	
	font-family: roboto;
	
}

/* Normal View */

/* Id's */

/* Classes */

/* Tags */

body{
	
	margin: 0px;
	
}

/* Other */

*{
	
	font-family: roboto;
	
}

/* Mobile View */

@media only screen and (max-width: 600px){
	
	/* Id's */
	
	/* Classes */
	
	/* Tags */
	
	/* Other */
	
}
